@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-bold.ttf") format("truetype");
  font-weight: normal;
}

* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 350px;
}
